<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить новый товар</title>
</head>
<body>
    <h1>Добавить новый товар</h1>
    <form action="#" method="POST">
        <label for="productName">Название:</label>
        <input type="text" id="productName" name="productName" required><br><br>

        <label for="productDescription">Описание:</label><br>
        <textarea id="productDescription" name="productDescription" rows="4" cols="50" required></textarea><br><br>

        <label for="productPrice">Цена:</label>
        <input type="text" id="productPrice" name="productPrice" required><br><br>
        
        <label for="productWeight">Масса:</label>
        <input type="text" id="productWeight" name="productWeight" required><br><br>
        
        <label for="productSize">Размеры:</label>
        <input type="text" id="productSize" name="productSize" required><br><br>

        <label for="productImage">Фото:</label>
        <input type="file" id="productImage" name="productImage" required><br><br>

        <button type="submit">Добавить</button>
    </form>
</body>
</html>