
<header>
    <h1>Near your house</h1>
</header>
<div class="welcome">
    <ul class = "menu">
    <li><a class="welcome" href = "register">Регистрация</a></li>
    <br/>
    <li><a class="welcome" href = "login">Войти</a></li>
</ul>
</div>
<nav>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="about">О нас</a></li>
        <li><a href="contacts">Контакты</a></li>
        <li><a href="catalog">Каталог</a></li>
        <li><a onclick="OpenCart()">Корзина</a></li>
        <li><a href="map">Карта</a></li>
    </ul>
</nav>