<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="catalog.css">
</head>
<body>
    
    <header>
        <h1>вот тут шапка должна быть бля</h1>
    </header>

    <div class="product-container">
        {% for product in products %}
            <div class="product">
                <img src="{{ product[4] }}" alt="{{ product[1] }}"> <!--картинка-->
                <h2>{{ product[1] }}</h2> <!--название-->
                <p>{{ product[2] }}</p><!--описание-->
                <p>{{ product[5]}}</p><!--вес-->
                <p>{{ product[6]}} </p><!--размер-->
                <p>Цена: {{ product[3] }}</p><!--цена-->
            </div>
        {% endfor %}
    </div>
    
        

    <footer>
        <h1>тут footer</h1>
    </footer>
</body>
</html>