<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление доставкой изделий</title>
{% extends 'base.html' %}
    <main>
        <!-- Содержимое страницы -->
        <speacer>
            <br />
            
            <div class="center">
                <img class="photo_work" src="empresas_00.webp" alt="Производство">
            </div>
            <a href="#" class="glo">Сделать заказ</a>
            

        </speacer>
    </main>
    <footer>
        <p>&copy; 2024 Управление доставкой изделий</p>
    </footer>

    
</body>
</html>